<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="description" content="hnc">
    <meta name="keywords" content="hnc">
    <title>开通账户</title>
    <link href="../static/lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/lib/bootstrapValidator.min.css"/>
    <link href="../static/lib/font-awesome.min.css" rel="stylesheet">
    <!--<link href="../static/css/common.css" rel="stylesheet">-->
    <link href="../static/css/style.css" rel="stylesheet">

    <script src="../static/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/lib/bootstrapValidator.min.js"></script>
</head>
<body>
<div class="wrap1">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../static/images/logo_hnc.png">
                </a>
            </div>
        </div>
    </nav>
    <div class="content-main">
        <div class="container">
            <!--<div class="row"></div>-->
            <div class="col-md-2 col-xs-2 bgwhite main-left">
                <ul>
                    <li><a class="active" href="#">账户余额</a></li>
                    <li><a href="#">购买HNC</a></li>
                    <li><a href="#">赎回HNC</a></li>
                    <li><a href="#">用户信息</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-xs-9 bgwhite main-right  text-center">
                <div class="recived">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    <p>我们已经收到您的开户申请！<br>
                        将尽快审核，请耐心等待！</p>
                </div>
                <div class="open-ok">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    <p>恭喜！账户已开通！</p>
                    <button class="btn btn-default">立即查看</button>
                </div>
                <div class="open-no">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    <p>抱歉，开户失败！<br>您未通过身份审核，请重新提交！</p>
                    <button class="btn btn-default">重新申请</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<script>
    $(document).ready(function () {
        $('#form_reg').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                email: {
                    validators: {
                        notEmpty: {
                            message: '请输入邮箱'
                        },
                        emailAddress: {
                            message: '邮箱地址格式不正确'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '请输入密码'
                        }
                    }
                },
                confirmPassword: {
                    validators: {
                        notEmpty: {
                            message: '请再次输入密码'
                        },
                        identical: {
                            field: 'password',
                            message: '两次密码不一致'
                        }
                    }
                },
            }
        });
    });
</script>
</html>