<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="description" content="hnc">
    <meta name="keywords" content="hnc">
    <title>找回密码</title>
    <link href="../static/lib/bootstrap.min.css" rel="stylesheet">
    <!--<link href="../static/css/common.css" rel="stylesheet">-->
    <link href="../static/css/style.css" rel="stylesheet">

    <script src="../static/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="container">
        <div class="logo_hnc"></div>
        <section class="box">
            <div class="box-header">
                <h3>找回密码邮件已发送</h3>
            </div>
            <div class="fon13 text-center">
                密码重置邮件已发送到您的邮箱<br>
                <span>jiangqingqing@163.com</span><br>
                您需要点击邮件中的重置链接进行密码重置。
            </div>
            <div class="go_email text-center">
                <a class="fon12 col666" href="#">登录您的163邮箱查看找回密码邮件</a>
            </div>
            <div class="bom-txt">没找到邮件？请点击<a href="#">重新发送</a></div>
            <div class="fon12 text-center martop20">
                请检查您输入的邮箱是否正确？如有误请<a href="forget_paw.html">重新填写</a><br>
                请检查验证邮件是否在垃圾邮件里
            </div>
        </section>
    </div>
</div>
</body>
</html>